/* You can add global styles to this file, and also import other style files */
*
{
  padding: 0;
  margin: 0;
}
html
  {
    background-image: url('/assets/img/back.png');
    background-size: cover;
  }
  html header
  {
    background-image: url('/assets/img/header.png');
    min-height: 218px;
    background-repeat: no-repeat;
    background-size: 100%;
  }